*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    background: #e4e7ef;
    -webkit-font-smoothing: antialiased;
}
body, input, button, textarea {
    font-family: Roboto, sans-serif ;
}